<div id="body">
    <section class="content-wrapper clear-fix">
        <br/>
        <h3>This is my response to the task set -</h3>
        <br/>
        <em>
            "Using .net develop a microservice exposing an API that writes log messages from external services to a text file.
            The messages are to include an id, a date and up to 255 characters of text."
        </em>
        <br/><br/>
        <strong>James Milward</strong>
    </section>
</div>
